@use '../variables' as *;

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  b {
    margin: 0 0.5rem;
  }
  a {
    color: $primary;
    text-decoration: none;
  }
  a:hover {
    color: $primary-dark;
  }
}

.bar {
  background-color: #efefef !important;
}

.bar-dark {
  background-color: #454f5f !important;
}
