@use '../variables' as *;

.about-page {
  .page-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .app-version {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .description {
    margin-bottom: 1rem;
    li {
      margin: 0.25rem 0;
    }
  }

  a {
    text-decoration: none;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }
}
