.home-page {
  height: 100%;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .MuiTypography-h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
  }

  .nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .MuiButton-root {
      display: flex;
      flex-direction: column;
      margin: 0 1rem;
      margin-bottom: 2rem;
      padding-top: 1rem;
      width: 270px;
      .MuiTypography-caption {
        font-size: 1.8rem;
        font-weight: 500;
      }
      svg {
        height: 140px;
        margin-bottom: 0.5rem;
      }
    }
  }
}
