@use '../variables' as *;

.infinite-scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;

  .actions {
    padding: 2.5rem 64px 0 64px;
    .MuiGrid-item {
      padding: 8px !important;
    }
  }

  .list {
    flex: 1;
    align-items: baseline;
    padding: 0 64px 4rem 64px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 140px;
    right: 0;
    bottom: 0;
    left: 0;

    .list-footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: RGBA(48, 48, 48, 0);
    }
    &::-webkit-scrollbar-thumb {
      background: $gray-strong;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: $primary-dark;
    }
  }
}
