.pop-up {
  .MuiDialogTitle-root {
    background-color: $primary;
  }
  .MuiButton-textSuccess {
    color: $primary;
    &:hover {
      background-color: $primary-dark;
    }
  }
}

.MuiTableContainer-root {
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-dark;
  }
}

.side-bar {
  .MuiDrawer-paper {
    &::-webkit-scrollbar-thumb {
      background: $primary;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-dark;
    }
  }
}
