@use './variables' as *;

.main-container {
  height: 100%;
  padding: 5rem 64px 2rem 64px;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: RGBA(48, 48, 48, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-strong;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-dark;
  }
  background-image: url('/assets/bg.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f5f5f5 !important;
}

.main-container.infinite {
  padding: 3rem 0 2rem 0;
  display: flex;
}

@media screen and (max-width: 899px) {
  .main-container {
    padding: 4rem 8px 2rem 8px;
  }
}

.main-container-dark {
  background-image: url('/assets/bg-dark.png') !important;
  background-color: #021027 !important;
}
