$primary-light: #f04647;
$primary: #e62429;
$primary-dark: #c7081f;

$secondary-light: #74706f;
$secondary: #494544;
$secondary-dark: #221e1d;

$gray: #6a696b;
$gray-strong: #424242;
$white: #ffffff;
