@import '~@j-meira/mui-theme/dist/scss/index.scss';

@import './variables';
@import './resets';

@import './components/index';
@import './pages/index';

.main-container {
  height: 100%;
  padding: 5rem 64px 2rem 64px;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: RGBA(48, 48, 48, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-strong;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-dark;
  }
}

.main-container.infinite {
  padding: 3rem 0 2rem 0;
  display: flex;
}

@media screen and (max-width: 899px) {
  .main-container {
    padding: 4rem 8px 2rem 8px;
  }
}
